{% include 'admin_header.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<table><br><br><br><br><br>
<h1 style="text-align: center;">Welcome Admin!!!</h1>
<!-- <a href="admin_userview">View User</a>
<a href="admin_addcategory">Add Categories</a>
<a href="admin_addproduct">Add Products</a>
<a href="admin_viewcomplaint">View Complaint</a>
<a href="admin_shopview">View Shops</a> -->
</table>
</body>
</html>