{% include 'publicheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<body>
    <h1>Welcome to E-Commerce Site</h1><hr>
    <a href="login" style="font-size: xx-large;">Login</a> &nbsp;&nbsp;&nbsp;
    <a href="user_register" style="font-size: xx-large;">User Register</a> &nbsp;&nbsp;&nbsp;
    <a href="shop_register" style="font-size: xx-large;">Shop Register</a>
</body>
</center>
</html>
{% include 'footer.html'%}