{%include 'publicheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<body>
    <h3><u>SHOP REGESTRATION</u></h3>
    <br>
    <form method="post">
        <table cellpadding="5px" cellspacing="5px" class="table" style="width: 20%;">
            <tr>
                <th>Shop Name:</th>
                <td><input type="text" name="sname" class="form-control"></td>
            </tr>
            <tr>
                <th>Place:</th>
                <td><input type="text" name="splace" class="form-control"></td>
            </tr>
            <tr>
                <th>Landmark:</th>
                <td><input type="text" name="lmark" class="form-control"></td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td><input type="text" name="sphone" class="form-control"></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><input type="text" name="mail" class="form-control"></td>
            </tr>
            <tr>
               <th>USERNAME:</th>
               <td><input type="text" name="username" class="form-control" required> </td>
            </tr>
            <tr>
                <th>PASSWORD:</th>
                <td><input type="password" name="password" class="form-control" required></td>
            </tr>
            
            <tr>
                <td><input type="submit" name="submit" value="submit" class="btn btn-success"></td>
            </tr>
        </table>
    </form>
</body>
</center>
</html>