{%include 'publicheader.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<center>
<h3> <u>USER REGESTRATION</u></h3>
<body>
    <form method="post">
        <table cellpadding="5px" cellspacing="5px" class="table" style="width: 20%;">
            <tr>
                <th>First Name:</th>
                <td><input type="text" name="fname" class="form-control"></td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td><input type="text" name="lname" class="form-control"></td>
            </tr>
            <tr>
                <th>House Name:</th>
                <td><input type="text" name="hname" class="form-control"></td>
            </tr>
            <tr>
                <th>Place:</th>
                <td><input type="text" name="place" class="form-control"></td>
            </tr>
            <tr>
                <th>Landmark:</th>
                <td><input type="text" name="lmark" class="form-control"></td>
            </tr>
            <tr>
                <th>Pincode:</th>
                <td><input type="text" name="pcode" class="form-control"></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><input type="text" name="pnumber" class="form-control"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" name="email" class="form-control"></td>
            </tr>
            <tr>
                <th>USERNAME:</th>
                <td><input type="text" name="username" class="form-control" required></td>
            </tr>
            <tr>
                <th>PASSWORD:</th>
                <td><input type="password" name="password" class="form-control" required></td>
            </tr>

            <td><input type="submit" name="register" value="register" class="btn btn-success"></td>
        </table>
    </form>
    
</body>
</center>
</html>